server:
  port: 5000
  servlet:
    encoding:
      charset: utf-8

spring:
  datasource:
    url: jdbc:mysql://aws-v4-rds.cjqkwogi6o49.ap-northeast-2.rds.amazonaws.com:3306/testdb?allowPublicKeyRetrieval=true&useSSL=false
    driver-class-name: org.mariadb.jdbc.Driver
    username: ht
    password: 11111111

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
logging:
  level:
    '[org.springframework.boot.web]': INFO