server:
  port: 5000
  servlet:
    encoding:
      charset: utf-8

spring:
  datasource:
    url: jdbc:mariadb://${rds.hostname}:${rds.port}/${rds.db.name}?allowPublicKeyRetrieval=true&sslMode=true&requireSSL=true&verifyServerCertificate=false
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${rds.username}
    password: ${rds.password}

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
logging:
  level:
    '[org.springframework.boot.web]': INFO
    org.hibernate.SQL: debug
    org.springframework.orm.jpa.JpaTransactionManager: debug
    org.hibernate.type: trace